mixin header(x)
  +b.HEADER.header
    +e.inner.justify-content-between
      +e.logo
        +e.logo-img
          +icon-svg('logo-h').align-middle
        +e.P.logo-text.align-middle ресурс

        +e.STRONG.logo-desc Экспертно-диагностический центр

      +e.contacts
        +e.A(href="tel:88127025643").contacts-fhone 8 812 702 56 43

        +e.A(href="#").contacts-link.trait обратный звонок
      
      case x
        when 'home'
          +e.call-message
            +icon-svg('speech_bubble').align-middle 
            +e.A(href="#").contacts-link.trait.align-top написать нам 


