.header{
  color: #000000;
  background-color: #fff;
  font-family: "proxima-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase; 
  .row{
    overflow: hidden;
    flex-wrap: nowrap;
    z-index: 12;
  }

  &__inner{
    width: 100%;
    padding: 20px 15px 25px;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
  }
  &.home{
    .header__inner{
      padding: 26px 0;   
    }  
  }

  &__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    &-img{
      font-size: 40px;
      margin-bottom: 15px;
    }
    &-text{
      color: #000000;
      font-family: "museo900";
      font-size: 27px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 5.4px;
      display: inline-block;
      width: 100%;
    }
  }
  &__logo-desc{
    font-weight: 400;
    margin: 0;
    padding: 5px 18px;
    font-size: 11px;
  }

  &__contacts{ 
    margin-top: 15px;
    text-align: center;
    width: 100%;
    border-width: 0;
    &-fhone{
      color: #000000;
      font-family: "museo900";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      margin-right: 22px;
      vertical-align: middle;
    }
    &-link{
      color: #000000;
      vertical-align: middle;
      font-size: 11px;
    }           
  }

  &.home{
    .header__contacts{ 
      margin: 0 30px;
      padding: 13px 46px;
      border-color: #d1d1d1;  
      border-style: solid;
    }  
  }

  &__call-message{
    margin-left: 0;
    padding: 13px 30px 12px 18px;
    svg{
      font-size: 22px;
    }
    a{
      font-size: 11px;
      display: inline-block;
      padding-bottom: 3px;
      margin: -2px 8px 0 5px;
    }
  }

  &__search{
    display: flex;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 9;
    &-group{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 50px;
      line-height: 50px;
      box-shadow: 1px 1px 5px 1px rgba(0,0,0, 0.3);
      width: 400px;   
      background-color: #fff; 
      display: flex;
      flex-wrap: nowrap;
    }

    &-run-btn{
      display: flex;   
      border: 0;
      background-color: #fff;
      svg{
        font-size: 20px;
        margin-left: 18px;
      } 
    }

    &-open-btn{
      display: flex;
      cursor: pointer;
      svg{
        color: #fff;
        font-size: 20px;
      }
    }

    &-close-btn{
      padding-right: 18px;
      cursor: pointer;
    }
  }

  &__input-search{
    display: flex;
    flex: 1 1 auto;
    width: 1%;
    border: 0;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    //background: url(../img/icons/search-input.svg) no-repeat 18px center #fff;
    @include place(#000);
    &:focus{
      border: 0;
      outline: none;
    }
  }



  @include media-breakpoint-up(xss) {

  }

  @include media-breakpoint-up(sm) {
    &__logo,  &__contacts{
      width: auto;
      flex-wrap: nowrap;
    }
    &__logo{
      &-img{
        margin-right: 15px;
        margin-bottom: 0;
      }
      margin-right: 19px;
      &-text{
        width: auto;
      }
    }
    &__inner{
      flex-wrap: nowrap; 
      padding: 26px 45px;    
    }
    &__logo-desc{
      padding: 5px 18px;
      border-left: 1px solid #d1d1d1;
      margin-left: 19px;
      font-size: 12px;
    }

    &__contacts{
      margin-top: 0;
      text-align: center;
      width: auto;
      border-width: 0 1px 0 1px;


      &-fhone{
        font-size: 22px;
        margin-right: 22px;
      }
      &-link{
        vertical-align: top;
        font-size: 12px;
      }    
    }

    &__call-message{
      a{
        font-size: 12px;
        padding-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {

  }

  @include media-breakpoint-up(lg) {
 
  }


}