.modal{
  color: #000000;
  font-family: "proxima-regular";
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  width: 100%;
  padding: 80px 15px 0;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  //display: none;
  overflow: hidden;
  outline: 0;

  &__inner{
    padding: 20px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto 0;
    box-shadow: 0 16px 12px rgba(6, 6, 6, 0.11);
    background-color: #ffffff;  

    h1.title{
      font-family: "museo900";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    span.text{
      font-size: 11px;
      line-height: 1.1;
      display: inline-block;
      width: 100%;
      margin-top: 0;
    }
  }

  &__info{
    font-size: 10px;
    text-align: left;
  }


  &__registration{
    max-width: 320px;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    transform: translate(0,-25%);
    margin: 1.75rem auto;
  }
  &__content{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  .m-header{
    background: url(../img/modal/m-title.png) no-repeat;
    height: 80px;
    width: 100%; 
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 30px;
  }
  .m-close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    opacity: 1;
    svg{
      font-size: 10px;
      margin: 15px 15px 0 0;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .m-title{
    color: #ffffff;
    font-family: "museo900";
    font-size: 22px;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase;

  }
  .m-text{
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .m-body-content{
    padding: 30px;
  } 

  .m-footer-content{
    padding: 0 30px 30px 30px;
    button{
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &.show{
    .modal__registration{
      transform: translate(0,0);

    }
  }

  .hidden{
    display: none;
    opacity: 0;    
  }
  .error, .minerr{
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 4px 3px;
    text-align: left;
    background-color: #df3f3f;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;
    transition: 0.1s;
    animation: errorshow 0.3s ease-out;
    transform: translateY(-22px);      
  }
  .error ~ .field, .minerr ~ .field{
    border-color: #df3f3f;
  }

  @keyframes errorshow {
    from{
      transform: translateY(0); 
      opacity: 0;  
    }
    to{
      transform: translateY(-22px);     
    }    
  }

  @include media-breakpoint-up(xss) {
    padding-top: 170px;
    &__inner{
      padding: 35px;      
      margin-top: 0;
      height: auto;
      h1.title{
        font-size: 45px;
        line-height: 48px;
        margin-top: 10px;
        margin-bottom: 40px;
      }
      span.text{
        font-size: 22px;
        margin-top: 10px;
      }
    }
  }

}