include lib/variables
include lib/mixins
include blocks/page

include blocks/intro-section

include blocks/header
include blocks/footer



+page(pagesList.index.title,'stick-top')
  +header('home')
  +b.main.__main
    +intro-section

    +b.SECTION.benefit-section

      .container
        .row

    


  +footer.__footer